.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1.47737px 17.7284px 4.43211px rgba(208, 214, 227, 0.3);
    padding: 0 4em;
}

.nav-item {
    padding: 0 .5em;
}

.nav-push-right {
    margin-left: auto;
}

@media only screen and (max-width:650px) {
    .navbar {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-push-right {
        margin-right: auto;
    }
    .search {
        display: none;
    }

}