.Carousel {
    display: flex;
    align-items: center;
    margin: 2em auto;
    justify-content: space-between;
    background: linear-gradient(180deg, #F8FAFC 0%, rgba(248, 250, 252, 0) 170.94%);
}

.carouselItem{
    flex: 1;
    display: flex;
    width: 449px;
    margin: 0 1em ;
    height: 3em;
    box-shadow: 0px 1.47737px 17.7284px 4.43211px rgba(208, 214, 227, 0.3);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    }